@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: poppins, sans-serif;
  text-align: center;
}

body {
  background-color: #000000;
  background-image: url(img/segi6-animated.svg);
  background-size: repeat;
  background-size: 10px;
}

.card {
  margin: 10px auto;
  background-color: #181818;
  width: 25rem;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  box-shadow: 0 0 15px rgba(77, 255, 46, 0.4);
}

.container {
  margin: 25px;
}

h1 {
  font-weight: 700;
  margin-top: -10px;
  /* padding-top: 15px; */
  color: #fefefe;
}

h3 {
  font-weight: 500;
  padding-top: 3px;
  padding-bottom: 10px;
  color: #f0f0f0;
}
p {
  color: #f0f0f0;
  text-align: justify;
}

.banner {
  max-width: 100%;
  border-radius: 4px 4px 0 0;
  z-index: 2;
}

.profile {
  border-radius: 50%;
  margin-top: -100px;
  width: 200px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  z-index: 200;
}

.kotak {
  margin: 0 40px 0 40px;
}

.social-media ul {
  padding: 0;
  margin-top: 5px;
  margin-bottom: 25px;
}

.social-media li {
  display: inline-block;
  margin-top: 5px;
  background-color: #252525;
  padding: 5px;
  border-radius: 6px;
}

.social-media li a {
  text-decoration: none;
  font-size: 1.12em;
  color: #f0f0f0;
}
